@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.texto-resultado {
  font-family: "Press Start 2P", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.texto-resultado {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
} */